body{
    width: 960px;
    background-color: #777;
    text-align: center;
    font-family: arial, Helvetica, sans-serif;
    color: #777;
    font-size: 18px;
    margin: 0 auto;
}

header, nav, section, aside, footer, article, h1, p{
    border:;
}

#wrapper{
    width: 80%;
    min-width:340px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

header{
    background:#ebebeb;
    padding: 20px;
    margin: 10px;
}

nav{
    background:#ebebeb;
    padding: 20px;
    margin: 10px;
}

section{
    width: 400px;
    height: 300px;
    box-sizing: border-box;
    background:#ebebeb;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
    clear: left;
}

article{
    height: ;
    color: #ebebeb;
    background: #777;
    padding: 20px;
    margin: 10px;
    float: ;
}

aside{
    height: ;
    width: 330px;
    height: 300px;
    box-sizing: border-box;
    background:#ebebeb;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;
}

h1{
    background:#ebebeb;
    font-family: arial, Helvetica, sans-serif;
    color: #777;
    font-size: 18px;
    padding: 20px;
    margin: 10px;
}

p{
    background:#ebebeb;
    font-family: arial, Helvetica, sans-serif;
    color: #777;
    font-size: 18px;
    padding: 20px;
    margin: 10px;   
}

footer{
    background:#ebebeb;
    padding: 20px;
    margin: 10px;
    clear: both;
}

